@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
}

:root {
  --backgroundColor: #f8f6ec;
  --primaryColor: #5f6738;
  --primaryTextColor: #5f6738;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
span,
small {
  font-family: "Opulent Regular", serif;
}

button,
p,
a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Opulent Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/OPN.woff") format("woff");
}

html::-webkit-scrollbar {
  display: none;
}

.fUfWZS {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  height: 100% !important;
}
.dsYFYq {
  text-transform: capitalize;
}

/*   Menu mobile    */

.nav__burger {
  z-index: 10;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 6px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.nav__burger__line {
  height: 2px;
  width: 0; /* inizialmente */
  background-color: #1e211e;
  transition: all 0.5s ease;
  transform-origin: center;
  opacity: 0;
}

.nav__burger__line:first-child {
  transition-delay: 0.2s;
}

.nav__burger__line:last-child {
  transition-delay: 0.22s;
}

.nav__burger__line__fill {
  background-color: #1e211e;
  width: 100%;
  height: 100%;
}

.width-20 {
  width: 23px;
  opacity: 1;
}

.opacity-100 {
  opacity: 1;
}
