@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  padding: 0;
  margin: 0;
}

:root {
  --backgroundColor: #f8f6ec;
  --primaryColor: #5f6738;
  --primaryTextColor: #5f6738;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

body {
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
span,
small {
  font-family: "Optima";
}

button,
p,
a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optimaBold.TTF") format("truetype");
}

@font-face {
  font-family: "Optima";
  src: url("/fonts/optima.TTF") format("truetype");
}

html::-webkit-scrollbar {
  display: none;
}

.fUfWZS {
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  height: 100% !important;
}
.dsYFYq {
  text-transform: capitalize;
}
