/* SPLIT HOVER MENU */

.split-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
}

.split-hover .line {
  display: block;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

/* stato normale */
.split-hover .line-normal {
  transform: translateY(0%);
  opacity: 1;
}

/* stato hover (nascosto sotto) */
.split-hover .line-hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
}

/* hover */
.split-hover:hover .line-normal {
  transform: translateY(-100%);
  opacity: 0;
}

.split-hover:hover .line-hover {
  transform: translateY(0%);
  opacity: 1;
}
